@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  background-color: #f8fafc; /* bg-slate-50 equivalent */
  color: #1e293b; /* slate-800 equivalent */
  font-family: Arial, Helvetica, sans-serif;
}
